@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Custom Utilities for that "Vibrant" feel */
.text-stroke-1 {
  -webkit-text-stroke: 1px black;
}

.text-stroke-2 {
  -webkit-text-stroke: 2px black;
}

/* Hero Grid Pattern */
.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

/* Animations */
@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes highlight {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.animate-highlight {
  animation: highlight 1s ease-out 1s forwards;
  width: 0%;
  /* Start at 0 */
}

.animate-float-slow {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 7s ease-in-out 1s infinite;
}